body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Calibri, serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

div {
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
