<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parrot Chat</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/chat.css}" href="../static/css/chat.css"/>
</head>
<body>

<div>
    <ul>
        <li th:each="message : ${messages}">
            <strong th:text="${message.sender.username}">Username</strong>:
            <span th:text="${message.content}">Message content</span>
            <em th:text="' | ' + ${message.timestamp}">Timestamp</em>
        </li>
    </ul>
</div><br>

<form th:action="@{'/chat/send/' + ${chatId}}" method="post">
    <input type="text" name="content" placeholder="Send message...">
    <button type="submit">Send</button>
</form><br>

<form th:action="@{/home}" method="get">
    <button type="submit">Quit</button>
</form>

</body>
</html>