<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parrot Home</title>
</head>
<body>
<div>
    <h1>Hello, <span th:text="${currentUser}">Unknown</span></h1><br>
</div>

<div>
    <form th:each="user : ${users}">

        <div th:if="${user.username != currentUser}">
            <div th:text="${user.username}"></div>

            <a th:href="@{/chat/get/{userId}(userId=${user.id})}">Open chat</a>
        </div>
    </form>
</div><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Log out</button>
</form><br>

<form method="get" th:action="@{/account/delete-confirm}">
    <input type="submit" value="Delete account">
</form>

</body>
</html>